main {
	border: dashed 1px red;
	display: flex;
	flex-direction: row;
}

/* This is the beginning of the dropdown styling (The left most block of the website) */

.dropdown-container {
	order: 0;
	border: dashed 1px green;
	flex-basis: 30%;
	margin: 5px;
	padding: 5px;
}

.select {
	margin: 5px;
	padding: 5px;
}

/* This is the end of the dropdown container styling */

/*  */

/* This is the beginning of the preview container stylings. This holds the elements being styled in the middle of the page. */

.itenerary-preview {
	order: 1;
	border: dashed 1px blue;
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding: 5px;
}
.preview-attraction {
	border: dashed 1px chartreuse;
	order: 0;
	margin: 5px;
	padding: 5px;
}
.preview-park {
	border: dashed 1px brown;
	order: 2;
	margin: 5px;
	padding: 5px;
}
.preview-eatery {
	border: dashed 1px palevioletred;
	order: 1;
	margin: 5px;
	padding: 5px;
}
#saveBtnContainer {
	border: dashed 1px orangered;
	order: 3;
	align-self: center;
	margin: 5px;
	padding: 5px;
}

/* This is the end of the preview container styling */

/*  */

/* This is the beginning of the saved itinerary section of the website. 
This bar is the right most part of the part of the website
*/

.saved-itenerary {
	border: dashed 1px fuchsia;
	order: 2;
	flex-basis: 30%;
	margin: 5px;
	padding: 5px;
}
